In [88]:
import pandas as pd

In [89]:
#reading our main dataset
housing_data=pd.read_csv("Melbourne_housing_FULL.csv")
housing_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [90]:
#get the list of columns titles
housing_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [91]:
#Number of rows and columns
housing_data.shape

(34857, 21)

In [92]:
#check number of values for each title
housing_data.count()

Suburb           34857
Address          34857
Rooms            34857
Type             34857
Price            27247
Method           34857
SellerG          34857
Date             34857
Distance         34856
Postcode         34856
Bedroom2         26640
Bathroom         26631
Car              26129
Landsize         23047
BuildingArea     13742
YearBuilt        15551
CouncilArea      34854
Lattitude        26881
Longtitude       26881
Regionname       34854
Propertycount    34854
dtype: int64

In [6]:
# droo NAN values from the dataset and clean our dataset
housing_cleaned_data=housing_data.dropna()
housing_cleaned_data.count()

Suburb           8887
Address          8887
Rooms            8887
Type             8887
Price            8887
Method           8887
SellerG          8887
Date             8887
Distance         8887
Postcode         8887
Bedroom2         8887
Bathroom         8887
Car              8887
Landsize         8887
BuildingArea     8887
YearBuilt        8887
CouncilArea      8887
Lattitude        8887
Longtitude       8887
Regionname       8887
Propertycount    8887
dtype: int64

In [7]:
#check types of values 
housing_cleaned_data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [17]:
#convert postcode type from float to ineteger and then object for getting it ready to merge. 
convert_types={"Postcode" : int}
housing_cleaned_data=housing_cleaned_data.astype(convert_types)
convert_types={"Postcode" : object , "Price": int , "Propertycount" : int ,
               "Bedroom2" : int, "Bathroom" : int , "Car" : int , "YearBuilt" : int , "Landsize" : int,
               "BuildingArea": int, "Propertycount" : int}
housing_cleaned_data=housing_cleaned_data.astype(convert_types)

In [18]:
housing_cleaned_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067,...,1,0,156,79,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134,150,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019
6,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120,142,2014,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019
11,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/05/2016,2.5,3067,...,2,0,245,210,1910,Yarra City Council,-37.8024,144.9993,Northern Metropolitan,4019
14,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,3067,...,1,2,256,107,1890,Yarra City Council,-37.8060,144.9954,Northern Metropolitan,4019

In [19]:
#save housing_data to csv file
housing_cleaned_data.to_csv("cleaned_housing_data.csv", encoding="utf-8", index=False)

In [72]:
housing_cleaned_data.set_index("Postcode")

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Postcode,,,,,,,,,,,,,,,,,,,,
3067,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,2,1,0,156,79,1900,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019
3067,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3,2,0,134,150,1900,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019
3067,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3,1,2,120,142,2014,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019
3067,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/05/2016,2.5,4,2,0,245,210,1910,Yarra City Council,-37.80240,144.99930,Northern Metropolitan,4019
3067,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,2,1,2,256,107,1890,Yarra City Council,-37.80600,144.99540,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,Wollert,27 Birchmore Rd,3,h,500000,PI,Ray,24/02/2018,25.5,3,2,2,383,118,2016,Whittlesea City Council,-37.61940,145.03951,Northern Metropolitan,2940
3750,Wollert,35 Kingscote Wy,3,h,570000,SP,RW,24/02/2018,25.5,3,2,2,404,158,2012,Whittlesea City Council,-37.61031,145.03393,Northern Metropolitan,2940
3013,Yarraville,29A Murray St,2,h,888000,SP,Sweeney,24/02/2018,6.3,2,2,1,98,104,2018,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543
3013,Yarraville,147A Severn St,2,t,705000,S,Jas,24/02/2018,6.3,2,1,2,220,120,2000,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543
3013,Yarraville,3 Tarrengower St,2,h,1020000,PI,RW,24/02/2018,6.3,2,1,0,250,103,1930,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543

In [20]:
#import Census data
census_data=pd.read_csv("../VIC/2021Census_G02_VIC_POA.csv")
census_data.head()

,POA_CODE_2021,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,POA3000,28,1733,768,370,1857,1.1,1306,1.7
1,POA3002,42,2383,1532,480,3733,0.9,2345,1.8
2,POA3003,31,2106,1058,388,2406,1.1,1788,1.9
3,POA3004,37,2000,1343,451,2727,1.0,2090,1.7
4,POA3006,31,1900,1171,411,2450,1.0,1927,1.8

In [21]:
census_data.columns

Index(['POA_CODE_2021', 'Median_age_persons', 'Median_mortgage_repay_monthly',
       'Median_tot_prsnl_inc_weekly', 'Median_rent_weekly',
       'Median_tot_fam_inc_weekly', 'Average_num_psns_per_bedroom',
       'Median_tot_hhd_inc_weekly', 'Average_household_size'],
      dtype='object')

In [22]:
#change postcode column title and type and removing POA from the postcode
census_data["POA_CODE_2021"]=census_data["POA_CODE_2021"].str.replace('POA', '')
census_data=census_data.rename(columns={"POA_CODE_2021": "Postcode" })
convert_types={"Postcode" : object}
census_data=census_data.astype(convert_types)
census_data.dtypes

Postcode                          object
Median_age_persons                 int64
Median_mortgage_repay_monthly      int64
Median_tot_prsnl_inc_weekly        int64
Median_rent_weekly                 int64
Median_tot_fam_inc_weekly          int64
Average_num_psns_per_bedroom     float64
Median_tot_hhd_inc_weekly          int64
Average_household_size           float64
dtype: object

In [23]:
#save cleaned census dataset to csv file
census_data.to_csv("census.csv", encoding="utf-8", index=False)

In [73]:
census_data.set_index("Postcode")

,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
Postcode,,,,,,,,
3000,28,1733,768,370,1857,1.1,1306,1.7
3002,42,2383,1532,480,3733,0.9,2345,1.8
3003,31,2106,1058,388,2406,1.1,1788,1.9
3004,37,2000,1343,451,2727,1.0,2090,1.7
3006,31,1900,1171,411,2450,1.0,1927,1.8
...,...,...,...,...,...,...,...,...
3990,56,2134,621,308,1687,0.8,1562,2.5
3991,49,1500,550,225,1674,0.7,1262,2.4
3992,43,1517,699,280,1601,0.7,1402,2.4
3995,50,1300,569,280,1392,0.7,1034,2.2
3996,54,1700,706,345,1742,0.7,1291,2.2

In [87]:
housing_census_df=pd.merge(left=housing_cleaned_data, right=census_data , left_index=True, right_index=True , how="inner")
housing_census_df.count()

Suburb                           242
Address                          242
Rooms                            242
Type                             242
Price                            242
Method                           242
SellerG                          242
Date                             242
Distance                         242
Postcode_x                       242
Bedroom2                         242
Bathroom                         242
Car                              242
Landsize                         242
BuildingArea                     242
YearBuilt                        242
CouncilArea                      242
Lattitude                        242
Longtitude                       242
Regionname                       242
Propertycount                    242
Postcode_y                       242
Median_age_persons               242
Median_mortgage_repay_monthly    242
Median_tot_prsnl_inc_weekly      242
Median_rent_weekly               242
Median_tot_fam_inc_weekly        242
Average_num_psns_per_bedroom     242
Median_tot_hhd_inc_weekly        242
Average_household_size           242
dtype: int64

In [83]:
housing_census_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode_x,...,Propertycount,Postcode_y,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067,...,4019,3003,31,2106,1058,388,2406,1.1,1788,1.9
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067,...,4019,3006,31,1900,1171,411,2450,1.0,1927,1.8
6,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067,...,4019,3011,34,2000,981,369,2474,1.0,1896,2.1
11,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/05/2016,2.5,3067,...,4019,3018,42,2200,945,390,2475,0.8,1861,2.3
14,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,3067,...,4019,3021,37,1500,494,325,1343,0.9,1238,2.8